@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 80%;
  max-width: 1320px;
  margin: 50px auto;
}
.primary-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.primary-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.banner {
  background-image: linear-gradient(#070211, #07021100),
    url("../images/banner.png");
  background-repeat: no-repeat;
  padding: 180px 0;
  border-radius: 10px;
}
.banner .banner-text h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
.banner .banner-text h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  width: 630px;
  margin: 0 auto;
}

#categories {
  text-align: center;
}
.categories-heading h2 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 40px;
}
.categories-img {
  width: 60%;
  margin-top: 50px;
}

.welcome-banner {
  background-image: linear-gradient(#070211, #07021100),
    url("../images/banner1.png");
  background-repeat: no-repeat;
  border-radius: 10px;
}
.welcome {
  display: flex;
  align-items: center;
  margin: 110px;
  padding: 50px 50px;
  gap: 20px;
}
.welcome-text h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.welcome-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.welcome-text button {
  color: white;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.welcome-text button:hover {
  color: #c58732;
}

.place {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 150px 0;
  border-radius: 10px;
  margin-bottom: 60px;
}
#place {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin: 16px 0;
}
.place-red {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}
.place .join-now {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.place button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 48px;
  cursor: pointer;
}
.place button:hover {
  background: #c58732;
}

.special-offers {
  display: flex;
  align-items: center;
}
.left-side {
  max-width: 463px;
  margin: 70px 70px auto 0;
}
.left-side p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.middle-side {
  text-align: center;
}
.new-img {
  border: 20px solid #f00;
  border-radius: 50%;
  padding: 30px;
}
.right-side {
  max-width: 394px;
  margin-left: 118px;
}
.right-side h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.right-side p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.text-content {
  text-align: center;
}
.heading-subtitle {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 100px;
}
.heading-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
}
.holidays-red {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: normal;
}
.heading-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.discount {
  margin-bottom: 300px;
  margin-top: -190px;
}
.discount-img {
  display: flex;
}
.holidays-img {
  position: absolute;
  margin-left: 94px;
  z-index: -1;
}
.holidays-img2 {
  position: relative;
  top: 110px;
  right: 50px;
}
.discount-img {
  position: relative;
  bottom: -250px;
}
.holidays-bg {
  position: absolute;
  z-index: -1;
}

.card-heading p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.card-items {
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}
.newsletter {
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 170px 0;
}
.newsletter p {
  margin-bottom: 48px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.form {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
}
#email {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 16px;
  background: #fff;
  flex-grow: 1;
  border: none;
  border-radius: 50px 0 0 50px;
}
#submit {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 35px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  cursor: pointer;
}
#submit:hover {
  background: #c58732;
}
footer {
  background: #070211;
  padding: 25px 0;
}
#address-information {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.address p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.contact p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  align-content: center;
}
.horizontal {
  margin: 40px 40px;
  color: #f00;
  border-color: rgba(255, 255, 255, 0.15);
}
.social-media {
  text-align: center;
}
.social-media .media {
  margin-right: 24px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.copyright p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.copyright button {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.copyright button:hover {
  color: #c58732;
}
